<header class="p-3 bg-dark text-white">
    <div class="d-flex justify-content-between align-items-center">
        
        
        <a class="text-light text-decoration-none" href="/blog">
            <h3 class="m-0">Blog</h3>
        </a>

        
        <div class="d-flex gap-3">
            <a class="text-light text-decoration-none" href="/">Home</a>
            <a class="text-light text-decoration-none" href="/about">About</a>
            <a class="text-light text-decoration-none" href="/contact">Contact</a>
        </div>

    </div>
</header>